<div class="upload-data-content-view">
  <img
    class="upload-content-img"
    src="../../../../assets/images/upload-img.svg"
    alt="Upload preview image"
  />
  <div class="no-list-found-header">
    No {{ dataSource.headerValue }} List Found
  </div>
  <div class="short-info-to-upload-csv-data">
    Upload {{ dataSource.headerValueInfo }} details in CSV format as per the
    suggested template
  </div>
  <div class="download-upload-button">
    <app-download-template-button
      [styleClassName]="primaryDownloadTemplateButton"
      [fileName]="fileName"
    ></app-download-template-button>
    <input
      type="file"
      class="csv-file-input"
      (change)="onFileSelected($event)"
      #fileUpload
      accept=".csv"
    />
    <button
      mat-raised-button
      class="upload-button"
      (click)="fileUpload.click()"
    >
      Upload {{ dataSource.headerValue }} Details
    </button>
  </div>
</div>
