@import "../../../shared/utils/styles.scss";

.dialog-content-class {
  @extend .column-flex;
  width: 360px;
  padding: 0px 20px;
  border-radius: 12px !important;
  gap: 20px;
}

.dialog-header-class {
  @extend .row-justify-space-between;
}

.dialog-content-header {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  color: $breadcrumb-item-color;
}

.dialog-content-heading {
  font-size: $title-font-size;
}

.horizontal-line-class {
  width: 100%;
  margin-top: -20px;
}

.horizontal-line {
  border-top: 1px solid $border-color;
  margin: 0px -43px 0px -43px;
}

.content-box {
  @extend .row-justify-space-between;
  align-items: center;
  width: 310px;
  border: 1px solid $border-color;
  padding: 8px;
  border-radius: 4px;
}

.link-content-box {
  display: flex;
  gap: 10px;
  align-content: center;
}

.link-description {
  font-size: $medium-font-size;
  color: $dialog-file-header-color;
  font-weight: $title-font-weight;
}

.link-content {
  font-size: $secondary-font-size;
  color: $primary-button-color;
  font-weight: $title-font-weight;
  cursor: pointer;
  text-decoration: none;
}

.link-content:hover {
  font-weight: bolder;
}

.mat-icon-button {
  box-shadow: none;
}

.mat-icon-button:hover {
  background-color: rgb(200, 197, 197);
}

mat-icon {
  width: 28px;
  height: 28px;
}

.close-button {
  margin-top: -3px;
}
