<div class="dialog-content-class">
  <div class="dialog-header-class">
    <div mat-dialog-title class="dialog-content-header">Examly Credentials</div>
    <button
      class="close-button"
      mat-icon-button
      mat-dialog-close
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="horizontal-line-class">
    <hr class="horizontal-line" />
  </div>
  <div *ngIf="apiError">Failed to load data</div>
  <div>
    <div matDialogContent class="dialog-content-heading">Username:</div>
    <div class="content-box">
      <div class="content" #userEmail>{{ loginEmail }}</div>
      <button mat-icon-button (click)="copyToClipboard(userEmail)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div matDialogContent class="dialog-content-heading">Password:</div>
    <div class="content-box">
      <div class="content" #userPassword>{{ loginPassword }}</div>
      <button mat-icon-button (click)="copyToClipboard(userPassword)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>
  <div class="link-content-box">
    <div matDialogContent class="link-description">
      Want to login to Examly?
    </div>
    <div matDialogContent>
      <a [href]="examlyPortalLink" class="link-content" target="_blank"
        >Click here</a
      >
    </div>
  </div>
</div>
